<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newDevour="{{devoured}}">
		{{#if devoured}}Make Another{{else}}Devour Me!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete</button>
</li>
